
#user-info{
    top: 0;
    position: sticky;
    z-index: 2;
}
.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2; /bleibt immer oben am rand über allem/
    /padding hier ändern verkleinert navbar Bereich/
}
.navbar-nav{
    float: right;
    text-align: right;
    /backroung farbe hier verändern=NUR hintergrund der schrift/
}
.navbar-brand img{
    max-height: 3em; /logo*/
}

#header1 {
    text-align: center;
    background-color: LightGrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header1 h1 {
    color: green;
    text-decoration: underline wavy orange;
}

#inhalt {
    text-align: center;
    background-color: aqua;
}

#description {
    text-align: center;
}

#scrabblePic {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#rulesHeadline {
    text-align: center;
    padding-bottom: 10px;
}

#playButton {
    padding-top: 20px;
    padding-bottom: 30px;
}

#scoreHeadline {
    text-align: center;
    padding-bottom: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer1 {
    padding: 20px;
    height: 100px;
    background-color: LightGray;
    text-align: center;
}


#rulesList {
    text-align: left;
}