* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html,body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

.header{
    padding: 2em;
    width: 100%;
    background-color: aquamarine;
}

.playPage {
    display: flex;
    background: linear-gradient(180deg, #f8fff8 20%, #d9e7ff 100%);
    height: 100%;
    width: 100%;
}

.gamecontainer {
    margin: 3em 0 3em 3em;
    width: 60%;
}

.control {
    margin: 3em;
    padding: 1em 1.2em;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 8px rgba(100, 100, 100, .2);
    border-radius: 1em;
}

.myGrid{
    display: inline-flex;
    background: white;
    box-shadow: 0px 0px 10px 8px rgba(100, 100, 100, .2);
    border-radius: 1em;
    grid-gap: 0;
    padding: .5em;
}

.myCell {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: .3em;
    margin: .15em;

    background: #f0f0f0;
    box-shadow: inset 3px 3px 6px 4px rgba(100,100,100,0.15);

    font-weight: bold;
}

.double{
    background-color: #ffe252;
}

.triple{
    background-color: #f85c5c;
}

.myLabel {
    border: none;
    background: #4d8080;
    color: white;
    box-shadow: none;
}

.myHand {
    display: flex;
    margin: 1em auto;
    padding: .5em;
    border-radius: .8em;
    background: #e9dac0;
    box-shadow: 3px 3px 5px 2px rgba(100,100,100,0.15);
}

.myCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: .5em;
    margin: .2em;

    background-image: url("../images/card.png");
    background-size: cover;
    /*background: #d29d7a;*/
    box-shadow: 3px 3px 5px 2px rgba(100,100,100,0.15);
    font-weight: bold;
}

.myCharacter {
    font-size: 1.2em;
}

.myPoint{
    position: absolute;
    right: .2em;
    bottom: .08em;
    font-size: .7em;
}

.playerpoint {
    font-size: 5em;
    font-weight: bold;
}

.active {
    color: red;
}

.home img{
    width: 30%;
    min-width: 200px;
}

#user-info {
    top: 0;
    position: sticky;
    z-index: 2;
}

.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
    box-shadow: 0 0 10px 8px rgba(200, 200, 200, .2);
}

.navbar-nav {
    float: right;
    text-align: right;
    font-size: 2em;
}

.navbar-brand img {
    max-height: 4em;
}

.nav-item{
    margin: 0 .423em;
}


#irgendwas {
    text-align: center;
    background: linear-gradient(180deg, #dff1df 20%, #d9e7ff 100%);
    padding: 2em 0;
}

#inhalt {
    text-align: center;
    background-color: white;
    width: 60%;
    min-width: 600px;
    margin: auto;
    box-shadow: 0 10px 10px 8px rgba(100, 100, 100, .2);
    padding: 3em;
}

#description {
    text-align: center;
}

#scrabblePic img {
    max-width: 600px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

#logoPic{
    max-width: 400px;
    min-width: 100px;
    width: 40%;
    margin-bottom: 2em;
}

#rules {
    text-align: center;
    padding-top: 3.2em;
    padding-bottom: 10px;
}

#playButton {
    padding-top: 20px;
    padding-bottom: 30px;
}

#score {
    text-align: center;
    padding-top: 3.2em;
    padding-bottom: 10px;

}

.wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer1 {
    padding: 20px;
    height: 100px;
    background-color: LightGray;
    text-align: center;
}

#rulesList {
    text-align: left;
}

.table1 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table1 thead tr {
    background-color: mediumaquamarine;
    color: white;
    /*text-align: center;*/
    font-weight: bold;
}

.table1  td {
    padding: 0.8em 1em;
}
