@()

  @main("HTWG Scrabble") {

  <h1>Über Scrabble</h1>

  <h2>Sinn des Spiels</h2>

  <p>
      Scrabble ist ein Buchstabenspiel, an dem sich zwei, drei oder vier Spieler beteiligen können.<br>
      Aufgabe ist, aus Buchstabensteinen mit unterschiedlichen Werten Wörter<br>
      zusammenzusetzen und so auszulegen, dass sie nach Art eines Kreuzworträtsels mit bereits<br>
      platzierten Wörtern in Verbindung stehen. Es darf jeweils nur ein Wort in einer Richtung<br>
      gelegt werden. Wer am Ende die meisten Punkte hat, gewinnt.

  </p>

  <h2> Bestandteile des Spiels</h2>
  <h3> <u>Die Buchstabensteine </u> </h3>
    <p>
      Das Spiel umfasst 100 Buchstabensteine.<br>
      Jeder Buchstabenstein hat einen bestimmten Wert, der jeweils unten rechts auf dem<br>
      Buchstabenstein angegeben ist.
    </p>
  <h3> <u>Die Blankosteine </u> </h3>
    <p>
      Die beiden Blankosteine haben die Funktion von Jokern. Sie können beliebig für jeden<br>
      gewünschten Buchstaben eingesetzt werden, nicht jedoch als ‚ß’. Der Spieler muss<br>
      ansagen, welchen Buchstaben der Blankostein ersetzt. Dieser behält seine Bedeutung<br>
      während des ganzen Spiels bei.<br>
      Der Blankostein hat einen Wert von null Punkten.<br>
      Ein auf dem Spielbrett platzierter Blankostein darf nicht ausgetauscht werden.
    </p>
  <h3> <u>Das Spielbrett </u> </h3>
    <p>
      Das Spielbrett besteht aus 15 x 15 Quadraten, die durch waagerechte und senkrechte Linien<br>
      voneinander getrennt sind. Es gibt auf dem Spielbrett farblich abgesetzte Felder mit<br>
      unterschiedlichen Prämienwerten (s. 4., d).
    </p>



  }