@(controller:de.htwg.se.scrabble.controller.controllerComponent.ControllerInterface)

@size = @{ controller.gridSize }
@grid = @{ controller.getGameField.grid }
@pile = @{ controller.getGameField.pile }
@currPlayer = @{ controller.gameStatus.currPlayer() }
@playerlist = @{ controller.getGameField.playerList }
@hand = @{playerlist(currPlayer).hand}

@main("HTWG Scrabble") {
    <div class="flex">
        <div class="gamecontainer">
            <div class="grid">
                <div class="row">
                    <div class="cell label"> </div>
                @for(i <- 1 until size+1) {
                    <div class="cell label">@i</div>
                }
                </div>
                @for(col <- 0 until size) {
                    <div class="row">
                        <div class="cell label">@(col+1)</div>
                        @for(row <- 0 until size) {
                            @if(grid.cell(row,col).isSet) {
                                @card(grid.cell(row,col).card, addedClass = "cell")
                            } else {
                                @if(grid.cell(row,col).isNormal) {
                                    <div class="cell normal">@grid.cell(row,col)</div>
                                } else {@if(grid.cell(row,col).isDouble) {
                                    <div class="cell double">@grid.cell(row,col)</div>
                                } else {
                                    <div class="cell triple">@grid.cell(row,col)</div>
                                }
                            }}
                        }
                    </div>
                }
            </div>
            <div class="hand">
                @for(c <- hand){
                    @card(c, addedClass = "")
                }
            </div>
        </div>
        <div class="control">
            <a href="@routes.HomeController.index()">
                <div class="home">
                    <img src="@routes.Assets.versioned("images/logo_long.png")" alt="">
                    <i class="fa fa-home w3-xxxlarge"></i>
                </div>
            </a>
            <div class="info">
                <div>
                    @if(currPlayer equals "A") {
                        <div class="score active">
                    } else {
                        <div class="score">
                    }
                        Player A: <span class="playerpoint">@playerlist("A").point</span>
                    </div>
                    @if(currPlayer equals "B") {
                        <div class="score active">
                    } else {
                        <div class="score">
                    }
                        Player B: <span class="playerpoint">@playerlist("B").point</span>
                    </div>
                </div>
                cards in stack: @pile.size <br>
                <a href="@routes.HomeController.newGrid()"><button>new game</button></a>
                <a href="@routes.HomeController.submit()"><button>switch cards</button></a>
                <a href="@routes.HomeController.submit()"><button>Set</button></a>
                <a href="@routes.HomeController.submit()"><button>Submit</button></a>
            </div>
        </div>
    </div>
}
