@(controller:de.htwg.se.scrabble.controller.controllerComponent.ControllerInterface)

@size = @{ controller.gridSize }
@game= @{ controller.gameToString }
@grid = @{ controller.getGameField.grid}

@main("HTWG Scrabble") {
    <div class="gamecontainer">
        <table border="1">
            <tbody>
                @for(row <- 0 until size) {
                    <tr>
                        @for(col <- 0 until size) {
                            <td> </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @game
    </div>
}
