@(controller:de.htwg.se.scrabble.controller.controllerComponent.ControllerInterface)

@size = @{ controller.gridSize }
@game= @{ controller.gameToString }
@grid = @{ controller.getGameField.grid }
@currPlayer = @{ controller.gameStatus.currPlayer() }
@playerlist = @{ controller.getGameField.playerList }

@main("HTWG Scrabble") {
    <div class="gamecontainer">
        <table border="1">
            <tbody>
                <tr>
                    <th> </th>
                    @for(i <- 0 until size) {
                        <th>@i</th>
                    }
                </tr>
                @for(row <- 0 until size) {
                    <tr>
                        <td>@row</td>
                        @for(col <- 0 until size) {
                            <td>@grid.cell(row,col)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @playerlist(currPlayer)
        <a href="@routes.HomeController.submit()"><button>Submit</button></a>
    </div>
}
